<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.letschat">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsChat" >
    <activity android:name=".ui.SplashActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".ui.LandingActivity"></activity>
        <activity android:name=".ui.login.LoginActivity"></activity>
        <activity android:name=".ui.login.DobActivity"></activity>

        <activity android:name=".ui.register.RegisterActivity"></activity>
        <activity android:name=".ui.forgotpassword.ForgotPasswordActivity"></activity>
        <activity android:name=".ui.forgotpassword.EmailActivation"></activity>
        <activity android:name=".ui.forgotpassword.Verifyotp"/>
        <activity android:name=".ui.forgotpassword.ChangePasswordActivity"></activity>
        <activity android:name=".ui.forgotpassword.HomeActivity"></activity>
        <activity android:name=".ui.register.RegisterVerifyotp"></activity>
        <activity android:name=".ui.startmetting.Startmeeting"></activity>
        <activity android:name=".ui.startmetting.Endmeeting"></activity>
        <activity android:name=".ui.startmetting.JoinMeeting"></activity>
        <activity android:name=".ui.startmetting.Backtomeeting"></activity>
        <activity android:name=".ui.startmetting.ScheduleMeeting"></activity>
        <activity android:name=".ui.Contact"/>
        <activity android:name=".ui.startmetting.Meetingdetails"/>
        <activity android:name=".ui.startmetting.Home1Activity"/>
        <activity android:name=".ui.startmetting.Meeting"/>
        <activity android:name=".ui.profile.Settings"/>
        <activity android:name=".ui.profile.EditProfile"/>
        <activity android:name=".ui.profile.Changepassword"/>

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>






    </application>

</manifest>